.App {
  text-align: center;
}

.repo-card {
  display: inline-block;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 48px 24px;
  width: 320px;
}

.snackbar {
  display: block;
  position: fixed;
  margin: 0 auto;
  top: 24px;
  padding: 8px;
  background-color: lightpink;
  border-radius: 4px;
  width: 100%;
  color: red;
  font-weight: bold;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  button {
    margin-left: 12px;
    border: 2px solid red;
    background-color: red;
    padding: 8px 12px;
    width: max-content;
    cursor: pointer;
    color: #fff;
    font-weight: 900;

    &:hover {
      color: red;
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }
  }
}
